# win image file caches
Thumbs.db
ehthumbs.db

# win folder config file
Desktop.ini

# win recycle bin used on file shares
$RECYCLE.BIN/

# KDE directory preferences
.directory

# text editors temporary files such as emacs
*~

# vagrant
.vagrant/
vagrant.log

# Mac OS X Finder 
.DS_Store

# Apvas 
logs/*.log

tmp_php/*
!tmp_php/empty

var3w/*
!var3w/empty

vagrant/puphpet/files/dot/ssh/*
!vagrant/puphpet/files/dot/insecure_private_key
